@import "../base/variable";
@import "../base/font";
body {
    background: $bgBody;
    font-family: $font;
    padding-top: 37px;
    position: relative;
    // overflow: auto;
}
.curve2{
    position: absolute;
    top: -77px;
    right: 76px;
    z-index: -7;
}
a{
    text-decoration: none;
}