@import "../../base/variable";
.login {
    font-size: $fontSz16;
    &__login {
        color: $coloTextNav;
        font-weight: bold;
        transition: 0.5s all ease-in-out;
        &:hover {
            transition: 0.5s all ease-in-out;
            color: $colorHover;
        }
    }
    &__register {
        width: 146px;
        height: 52px;
        line-height: 40px;
        background: $colorHover;
        box-shadow: 0px 100px 161px rgba(245, 155, 90, 0.08), 0px 64.8148px 94.2894px rgba(245, 155, 90, 0.0607407),
            0px 38.5185px 51.2815px rgba(245, 155, 90, 0.0485926), 0px 20px 26.1625px rgba(245, 155, 90, 0.04),
            0px 8.14815px 13.1185px rgba(245, 155, 90, 0.0314074), 0px 1.85185px 6.33565px rgba(245, 155, 90, 0.0192593);
        border-radius: 40px;
        color: #f4ebe6;
        transition: 0.5s all ease-in-out;
        &:hover {
            transition: 0.5s all ease-in-out;
            color: $colorHover;
            background-color: #f4ebe6;
            border: 1px solid $colorHover;
        }
        &:focus{
            box-shadow: none;
        }
    }
}
