@import "../../base/variable";

.content__left {
    padding-top: 106px;
    position: relative;
    overflow: hidden;
    h6 {
        color: $colorHover;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 13px;
    }
    h1 {
        font-weight: bold;
        font-size: 58px;
        color: #1a1d32;
        letter-spacing: -1px;
        margin-bottom: 37px;
        span {
            color: #ed9b59;
        }
    }
    &-text {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        color: #1a1d32;
        opacity: 0.7;
        text-align: justify;
        letter-spacing: -1px;
        margin-bottom: 22px;
    }
    &-send {
        background-color: #fff;
        padding: 8px 11px 10px 22px;
        border-radius: 40px;
        display: flex;
        margin-bottom: 119px;
        svg {
            margin-right: 10px;
        }
        button {
            height: 50px;
            background: #ed9b59;
            box-shadow: 0px 100px 161px rgba(245, 155, 90, 0.08), 0px 64.8148px 94.2894px rgba(245, 155, 90, 0.0607407),
                0px 38.5185px 51.2815px rgba(245, 155, 90, 0.0485926), 0px 20px 26.1625px rgba(245, 155, 90, 0.04),
                0px 8.14815px 13.1185px rgba(245, 155, 90, 0.0314074),
                0px 1.85185px 6.33565px rgba(245, 155, 90, 0.0192593);
            border-radius: 40px;
            border: none;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #f4ebe6;
            transition: 1s all ease-in-out;

            &:hover {
                transition: 1s all ease-in-out;
                background: #f4ebe6;
                color: #ed9b59;
                border: 1px solid #ed9b59;
            }
        }
        input {
            border: none;
            flex-grow: 1;
            &:focus {
                outline: none;
            }
        }
    }
    &-sublike {
        &-item {
            padding: 10px;
            span {
                color: $colorHover;
            }
            h2 {
                font-weight: bold;
                font-size: 56px;
                line-height: 71px;
                letter-spacing: -4px;
                color: #1a1d32;
                text-align: left;
            }
            p {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #1a1d32;
                text-align: left;
            }
        }
    }
    .curve {
        position: absolute;
        bottom: -144px;
        left: -596px;
    }
}
