@import "../../base/variable";
.content__right {
    position: relative;
    padding-left: 60px;
    overflow: hidden;
    &-item {
        &-img {
            max-width: 100%;
            object-fit: cover;
        }
        &-imgBlur {
            position: absolute;
            top: 20px;
            left: 15px;
            transform: scale(0.9);
            max-width: 100%;
            object-fit: cover;
            opacity: 0.5;
            filter: blur(65px);
            z-index: -1;
        }
    }
    .nui {
        position: absolute;
        top: 300px;
        left: -51px;
        z-index: -6;
    }
    &-icon {
        position: absolute;
        &Diamond {
            top: 30px;
            left: 135px;
            animation: like 3s ease-in-out;

        }
        &Like {
            top: 50px;
            left: 470px;
            animation: like 3s ease-in-out;

        }
        &612 {
            top: 230px;
            left: 90px;
            animation: like 3s ease-in-out;
        }
        &Tym {
            top: 244px;
            left: 625px;
            // animation: Tym 3s ease-in-out;
            animation-name: Tym2;
            animation-duration: 4s;
        }
        &599 {
            top: 464px;
            left: 612px;
            z-index: -1;
            animation: icon599 3s ease-in-out;
        }
        @keyframes icon599 {
            0% {
                opacity: 0;
                transform: translateX(400px);
                //   transform: scale(0.5);
            }

            50% {
                opacity: 0.5;
                transform: translateX(10px);
                //   transform: scale(0.8);
            }

            100% {
                opacity: 1;
                transform: translate(0);
                //   transform: scale(1);
            }
        }
        @keyframes Tym {
            0% {
                opacity: 0;
                transform: translateY(-400px);
                //   transform: scale(0.5);
            }

            50% {
                opacity: 0.5;
                transform: translateY(-10px);
                //   transform: scale(0.8);
            }

            100% {
                opacity: 1;
                transform: translate(0);
                //   transform: scale(1);
            }
        }
        @keyframes Tym2 {
            from{
                transform: scale(1);
            }
            to{
                transform: scale(1.3);
            }
        }
        @keyframes like {
            0% {
                opacity: 0;
                transform: translateY(-400px);
                //   transform: scale(0.5);
            }

            50% {
                opacity: 0.5;
                transform: translateY(-10px);
                //   transform: scale(0.8);
            }

            100% {
                opacity: 1;
                transform: translate(0);
                //   transform: scale(1);
            }
        }
    }
}
